{# 
    Render both title and URL in one column 
#}
{% set page = entity.instance %}

<span><b>{{ field.value }}</b></span><br>
<small>URL: <a href="{{ path('app_page_show', {'url': page.url}) }}" class="text-decoration-underline">{{ page.url }}</a></small>